.simple-subtasks {
  font-size: 16px;
  list-style: none;
}
.simple-subtasks .task {
  position: relative;
  width: 100%;
  line-height: 48px;
  border-bottom: 1px solid #E8E8E8;
}
.simple-subtasks .task.complete p.content {
  text-decoration: line-through;
  color: #999;
}
.simple-subtasks .task.complete textarea {
  text-decoration: line-through;
  color: #999;
}
.simple-subtasks .task p.content {
  display: block;
  padding: 15px 50px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 1.2;
  outline: none;
  border: 0;
  margin: 0;
  z-index: 1;
  background-color: #fff;
}
.simple-subtasks .task textarea {
  display: none;
  padding: 15px 50px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 1.2;
  outline: none;
  resize: none;
  border: 0;
  z-index: 1;
  font-size: 16px;
  background-color: #fff;
}
.simple-subtasks .task .icon-add-task {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  color: #9b9b9b;
  text-align: center;
}
.simple-subtasks .task .icon-remove-task {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  color: #9b9b9b;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}
.simple-subtasks .task.add textarea {
  display: block;
}
.simple-subtasks .task.editing p.content {
  display: none;
}
.simple-subtasks .task.editing textarea {
  display: block;
}
.simple-subtasks .simple-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  z-index: 2;
}
.simple-subtasks.unable-edit .task .icon-remove-task {
  display: none;
}
