.simple-subtasks {
  font-size: 16px;

  &.unable-edit {
    .task .icon-remove-task {
      display: none;
    }
  }

  .task {
    position: relative;
    padding-left: 36px;

    &.add {
      .task-content {
        color: #999;
      }
    }

    &.editing {
      .task-content {
        display: none;
      }

      .task-form {
        display: block;
      }
    }

    &.complete {
      .task-content {
        text-decoration: line-through;
        color: #999;
      }

      textarea {
        text-decoration: line-through;
        color: #999;
      }
    }

    .task-content {
      margin: 0;
      padding: 5px;
      min-height: 26px;
      line-height: 26px;
      cursor: pointer;
      word-break: break-all;
      word-wrap: break-word;
    }

    .task-form {
      display: none;
    }

    textarea {
      padding: 5px;
      width: 100%;
      height: 36px;
      line-height: 26px;
      outline: none;
      resize: none;
      border: 0;
      z-index: 1;
      font-size: 16px;
      background-color: #fff;
      box-sizing: border-box;
      word-break: break-all;
      word-wrap: break-word;
    }

    .icon-add-task {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      line-height: 36px;
      color: #999;
      text-align: center;
    }

    .link-remove-task {
      float: right;
    }
  }

  .simple-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    z-index: 2;
  }
}
