.simple-subtasks {
  font-size: 16px;

  &.unable-edit {
    .task .task-content {
      pointer-events: none;
    }
  }

  .progress {
    position: relative;
    margin: 10px 0;

    .bar {
      margin: 0 5px 0 36px;
      height: 6px;
      vertical-align: middle;
      background-color: #F2F5EA;
      border: 1px solid #88AF40;
      border-radius: 3px;
    }

    .inner-bar {
      width: 0;
      height: 6px;
      background-color: #88AF40;
      -webkit-transition: width 250ms ease-in-out;
      -moz-transition: width 250ms ease-in-out;
      transition: width 250ms ease-in-out;
    }

    .count {
      position: absolute;
      top: -2px;
      margin-left: 10px;
      font-size: 12px;
      line-height: 1;
      color: #999;
    }
  }

  .task {
    position: relative;
    padding-left: 36px;

    &.add {
      .task-content {
        color: #999;
      }
    }

    &.editing {
      .task-content {
        display: none;
      }

      .task-form {
        display: block;
      }
    }

    &.complete {
      .task-content {
        text-decoration: line-through;
        color: #999;
      }

      textarea {
        text-decoration: line-through;
        color: #999;
      }
    }

    .task-content {
      margin: 0;
      padding: 5px;
      min-height: 26px;
      line-height: 26px;
      cursor: pointer;
      word-break: break-all;
      word-wrap: break-word;
    }

    .task-form {
      display: none;
    }

    textarea {
      padding: 5px;
      width: 100%;
      height: 36px;
      line-height: 26px;
      outline: none;
      resize: none;
      border: 0;
      z-index: 1;
      font-size: 16px;
      background-color: #fff;
      box-sizing: border-box;
      word-break: break-all;
      word-wrap: break-word;
    }

    .icon-add-task {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      line-height: 36px;
      color: #999;
      text-align: center;
    }

    .link-remove-task {
      float: right;
    }
  }

  .simple-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px;
    z-index: 2;
  }
}
