.simple-subtasks {
  list-style: none;
  font-size: 16px;
}
.simple-subtasks .task {
  position: relative;
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #E8E8E8;
}
.simple-subtasks .task.complete textarea {
  text-decoration: line-through;
  color: #999;
}
.simple-subtasks .task .simple-checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 2;
}
.simple-subtasks .task textarea {
  display: block;
  padding: 15px 50px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
  outline: none;
  resize: none;
  border: 0;
  z-index: 1;
}
.simple-subtasks .task .icon-add-task {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  line-height: 48px;
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
}
.simple-subtasks .task .icon-remove-task {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  line-height: 48px;
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}
